Source: ros-kinetic-teraranger
Section: misc
Priority: extra
Maintainer: Mateusz Sadowski <mateusz.sadowski@terabee.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-dynamic-reconfigure, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-serial, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-teraranger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-dynamic-reconfigure, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-serial, ros-kinetic-std-msgs
Description: The teraranger package
